<mat-card>
    <mat-card-header>
        <mat-card-title
        [style.margin-bottom]="!this.material ? '1.5rem' : 'unset'">Material Settings</mat-card-title>
        @if (this.material) {
            <mat-card-subtitle>{{ this.material.code }} - {{ this.material.name }}</mat-card-subtitle>
        }
    </mat-card-header>

    <mat-card-content>
        <kendo-grid
        [data]="this.data"
        [skip]="this.skip"
        [sort]="this.sort"
        [filter]="this.filter"
        [loading]="this.loading"
        [pageSize]="this.pageSize"
        [sortable]="this.sortable"
        [pageable]="this.pageable"
        [columnMenu]="{ columnChooser: false }"
        [filterable]="this.filterable"
        (pageChange)="this.onPageChange($event)"
        (sortChange)="this.onSortChange($event)"
        (filterChange)="this.onFilterChange($event)">
            <kendo-grid-column
            field="code"
            title="Customer Code"
            [width]="180"
            [sticky]="true">
            </kendo-grid-column>

            <kendo-grid-column
            field="name"
            title="Customer Name"
            [width]="320">
            </kendo-grid-column>

            <kendo-grid-column
            field="setled"
            title="Setled(?)"
            filter="boolean"
            [width]="160">
                <ng-template kendoGridCellTemplate let-item>
                    @switch (item.setled) {
                        @case (true) {
                            <span [style.color]="'#10ff10'">True</span>
                        }
    
                        @case (false) {
                            <span [style.color]="'#c30000'">False</span>
                        }
                    }
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.active"
            title="Active"
            filter="boolean"
            [width]="160">
                <ng-template kendoGridCellTemplate let-item>
                    @switch (item.materialc?.active) {
                        @case (true) {
                            <span [style.color]="'#10ff10'">True</span>
                        }
    
                        @case (false) {
                            <span [style.color]="'#c30000'">False</span>
                        }
                    }
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.description1"
            title="Description"
            filter="text"
            [width]="320">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.expire1"
            title="Expire"
            filter="numeric"
            [width]="128">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.expire1method.code"
            title="Expire Method Code"
            filter="text"
            [width]="220">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.expire1method.name"
            title="Expire Method Name"
            filter="text"
            [width]="220">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.packsizeum"
            title="Package's Measure Unit"
            [width]="260">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.stacksizeum"
            title="Pile's Measure Unit"
            [width]="260">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.palletpsizeum"
            title="Package's Pallet Measure Unit"
            [width]="260">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.palletssizeum"
            title="Pile's Package Measure Unit"
            [width]="260">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.packaging.code"
            title="Packaging Code"
            [width]="240">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.packaging.name"
            title="Packaging Name"
            [width]="240">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.pkPackaging.code"
            title="PK Packaging Code"
            [width]="240">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.pkPackaging.name"
            title="PK Packaging Name"
            [width]="240">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.itPackaging.code"
            title="IT Packaging Code"
            [width]="240">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.itPackaging.name"
            title="IT Packaging Name"
            [width]="240">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.procLayoutIT.code"
            title="IT Layout Code"
            [width]="240">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.procLayoutIT.name"
            title="IT Layout Name"
            [width]="240">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.procLayoutPK.code"
            title="PK Layout Code"
            [width]="240">
            </kendo-grid-column>

            <kendo-grid-column
            field="materialc.procLayoutPK.name"
            title="PK Layout Name"
            [width]="240">
            </kendo-grid-column>

            <!-- <kendo-grid-column
            [width]="160"
            [sticky]="true"
            [columnMenu]="false">
                <ng-template kendoGridHeaderTemplate>
                    <button mat-icon-button
                    type="button"
                    color="tertiary"
                    (click)="this.update()">
                        <mat-icon
                        [class.spin]="this.loading">sync</mat-icon>
                    </button>
                </ng-template>

                <ng-template kendoGridCellTemplate let-item>
                    @if (item.setled) {
                        <button mat-icon-button
                        type="button"
                        color="primary"
                        (click)="this.set(item.materialc)">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-icon-button
                        type="button"
                        color="warn"
                        (click)="this.delete(item.materialc)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    } @else {
                        <button mat-icon-button
                        type="button"
                        color="primary"
                        (click)="this.set()">
                            <mat-icon>add</mat-icon>
                        </button>
                    }
                </ng-template>
            </kendo-grid-column> -->
        </kendo-grid>
    </mat-card-content>
</mat-card>
