@if (this.isNew) {
    <h3 mat-dialog-title>Create new company</h3>
} @else {
    <h3 mat-dialog-title>Update company</h3>
}

<mat-dialog-content
[formGroup]="this.form">
    <mat-radio-group
    formControlName="active">
        <mat-label>Status</mat-label>
        <mat-radio-button [value]="false">Inactive</mat-radio-button>
        <mat-radio-button [value]="true">Active</mat-radio-button>
    </mat-radio-group>

    <kendo-formfield>
        <kendo-floatinglabel
        text="Code">
            <kendo-textbox
            formControlName="code"
            [maxlength]="30">
            </kendo-textbox>
        </kendo-floatinglabel>

        <kendo-formhint>Required</kendo-formhint>
        <kendo-formerror>This field is required</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-floatinglabel
        text="Name">
            <kendo-textbox
            formControlName="name"
            [maxlength]="30">
            </kendo-textbox>
        </kendo-floatinglabel>

        <kendo-formhint>Required</kendo-formhint>
        <kendo-formerror>This field is required</kendo-formerror>
    </kendo-formfield>

    <kendo-formfield>
        <kendo-floatinglabel
        text="Description">
            <kendo-textarea
            resizable="none"
            formControlName="description8"
            [rows]="4"
            [maxlength]="80">
            </kendo-textarea>
        </kendo-floatinglabel>

        <kendo-formhint>Optional</kendo-formhint>
    </kendo-formfield>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button
    type="button"
    color="primary"
    (click)="this.save()"
    [disabled]="this.form.disabled || this.form.pristine || this.form.invalid">
        @if (this.form.disabled) {
            <mat-icon spin fontSet="material-symbols-outlined">progress_activity</mat-icon>
            
        } @else {
            <mat-icon>save</mat-icon>
        }

        <span>Save</span>
    </button>

    <button mat-flat-button
    type="button"
    color="tertiary"
    (click)="this.cancel()"
    [disabled]="this.form.disabled">
        <mat-icon>close</mat-icon>
        <span>Cancel</span>
    </button>
</mat-dialog-actions>