:host mat-radio-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: flex-start;

    mat-label {
        width: 100%;
        margin: 0 .75rem;
    }

    mat-radio-button {
        flex: 1;
    }
}
