:host {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

:host.closed > .container {
    height: 0;
}

:host > .container {
    display: flex;
    flex-flow: row nowrap;

    width: 100%;
    height: 3rem;

    & > .content {
        color: inherit;
        text-decoration: none;

        flex: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        mat-icon {
            width: 2.25rem;
            height: 2.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
    
:host.closed > .container {
    height: 0;
}

:host > .children {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}