:host mat-radio-group {
    position: absolute;
    top: .5rem;

    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: flex-start;

    mat-label {
        width: 100%;
        margin: 0 .75rem;
    }

    mat-radio-button {
        flex: 1;
    }
}
