@let value = this.value();
@let closed = this.closed();
@let children = value.children ?? [];

<div class="container">
    @if (value.path) {
        <a class="content"
        [routerLink]="'/' + value.path"
        [routerLinkActive]="'active'">
            <mat-icon
            class="material-symbols-outlined"
            [fontIcon]="value.icon">
            </mat-icon>

            <span>{{ value.name }}</span>
        </a>
    } @else {
        <div class="content">
            <mat-icon
            class="material-symbols-outlined"
            [fontIcon]="value.icon">
            </mat-icon>

            <span>{{ value.name }}</span>
        </div>
    }

    @if (children.length > 0) {
        <button mat-icon-button
        type="button"
        (click)="this.closed.set(!closed)">
            @if (closed) {
                <mat-icon
                class="material-symbols-outlined"
                fontIcon="expand">
                </mat-icon>
            } @else {
                <mat-icon
                class="material-symbols-outlined"
                fontIcon="unfold_less">
                </mat-icon>
            }
        </button>
    }
</div>

@for (child of children; track child.id) {
    <app-navbar-item
    [class.closed]="closed"
    [value]="child">
    </app-navbar-item>
}